# Dependencies
node_modules/
*/node_modules/

# Environment files & Secrets
.env
.env*.local
*.env
!.env.example
apps/admin/.env
apps/mobile/.env

# Production and Expo
.expo/
dist/
web-build/

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# System and Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
